
    /* reset styles */
    
    * {
      margin: 0px;
      padding: 5px;
    }
    
    /* begin styles */
    
    body {
      text-align: center;
      font-family: "Helvetica", sans-serif;
    }

    h1 {
      margin-top: 73px;
      color: #FFD506;
      font-size: 48px;
    }

    h3 {
      margin-top: 23px;
    }

    ul {
      list-style-type: none;
    }

    a {
      color: #666666;
      text-decoration-line: none;
    }

    a:hover {
      color: #F4D30B;
    }
